
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: #fff;
    color: black;
}

.dice
{
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   color: #fff;
   /*box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
   background-image: url("everforest_square.png");
   height: 150px;
   width: 150px;
   border-radius: 4px;
   transition: all 500ms;
   overflow: hidden;

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.button
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100px;
    width: 200px;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
 }

 @font-face
 {
   font-family: 'Bookmania-Regular';
    src: url('Bookmania-Regular.ttf') format('truetype');
    src: url('Bookmania-Regular.woff') format('woff');
    src: url('Bookmania-Regular.woff2') format('woff2');
    src: url('Bookmania-Regular.svg') format('svg');
    src: url('Bookmania-Regular.eot') format('eot');
 }

 *
 {
    margin: 6px;
    padding: 0;
    font-family: 'Bookmania-Regular';
    src: url('Bookmania-Regular.ttf') format('truetype');
    src: url('Bookmania-Regular.woff') format('woff');
    src: url('Bookmania-Regular.woff2') format('woff2');
    src: url('Bookmania-Regular.svg') format('svg');
    src: url('Bookmania-Regular.eot') format('eot');
    text-align: center;
 }

 section 
 {
    padding-top: 20px;
 }